body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
    max-width: 1200px;
    padding: 20px;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .emojis {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
  }
  
  .emoji h2 {
    order: 2;
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  .emoji p {
    order: 3;
  }
  
  .emoji a {
    order: 4;
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    text-align: center;
    margin-top: auto;
    border-radius: 8px;
  }
  
  .icon {
    order: 1;
    font-size: 4rem;
    align-self: center;
  }